#carousel {
    /*border: solid black 2px;*/
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 800px;
    overflow: hidden;

}
img {
    height: 600px;
    width: 800px;
}
ul {
    list-style-type: none;

}